<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>20/03/26 18:52:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CoralAtKeppelBay.setUp()[pri:0, instance:com.AfflePOC.test.CoralAtKeppelBay@29774679]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/03/26 18:52:44</td>   <td>7585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CoralAtKeppelBay.testCoralAtKeppelBay()[pri:0, instance:com.AfflePOC.test.CoralAtKeppelBay@29774679]">testCoralAtKeppelBay</td> 
  <td>main@507084503</td>   <td></td> </tr>
</table>
